.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container h1 {
    width: 50%;
}

.main-logo {
    display: block;
    height: 65px;
}

@media screen and (max-width: 768px) {
    .header-container p {
        display: none;
    }
}